<div class="row">
  <div class="col-xs-12">
    <p>Add new servers or blueprint!</p>
    <label>Server Name</label>
    <input type="text" class="form-control" ngModel="newServerName" />

    <label>Server Content</label>
    <input type="text" class="form-control" ngModel="newServerContent" />
    <br />

    <div
      class="btn-toolbar"
      role="toolbar"
      aria-label="Toolbar with button groups"
    >
      <div class="btn-group me-2" role="group" aria-label="First group">
        <button class="btn btn-success" (click)="onAddServer()">
          Add Server
        </button>
      </div>
      <div class="btn-group" role="group" aria-label="Third group">
        <button class="btn btn-primary" (click)="onAddBlueprint()">
          Add Server Blueprint
        </button>
      </div>
    </div>
  </div>
</div>
